Actor[appliedStereotypes~="car"] > Compartment {
    visible: false;
}

Actor[appliedStereotypes~="car"] > Compartment[type="compartment_shape_display"] {
    visible:true;
    showTitle:false;
}

Actor[appliedStereotypes~="car"] {
    elementIcon:false;
    shapeVisibility: false;
    maintainSymbolRatio:false;
    fillColor:white;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
	svgFile: "platform:/plugin/com.github.nruzic.extensions.eclipse.model.profile.prototype/com/github/nruzic/commons/model/profile/prototype/devices/car.svg";
}

Actor[appliedStereotypes~="device"] {
    elementIcon:false;
    shapeVisibility: false;
    maintainSymbolRatio:false;
    fillColor:white;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
	svgFile: "platform:/plugin/com.github.nruzic.extensions.eclipse.model.profile.prototype/com/github/nruzic/commons/model/profile/prototype/devices/device.svg";
}

Actor[appliedStereotypes~="application"] {
    elementIcon:false;
    shapeVisibility: false;
    maintainSymbolRatio:false;
    fillColor:white;
    displayBorder:false;
    displayName:true;
    followSVGSymbol:true;
	svgFile: "platform:/plugin/com.github.nruzic.extensions.eclipse.model.profile.prototype/com/github/nruzic/commons/model/profile/prototype/applications/application.svg";
}
